<div id="container">
  <h1>{{title}}</h1>

  <h2>Create SMS Provider</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Please type any name" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Countries</mat-label>
      <mat-select [(value)]="selected" formControlName="country_id">
        <mat-option *ngFor="let country of countries" [value]="country.id">
          {{country.displayName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Originating Number</mat-label>
      <input matInput placeholder="Please type originating number" formControlName="originating_number">
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="!form.valid">Submit</button>

  </form>

</div>


